html {
  box-sizing: border-box;
  background-color: #eee9de;
  max-width: 25em;
  margin: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.button {

}

img {
  width: 100%;
  display: block;
}

h1 {
  text-align: center;
}

p {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

button {
  border: 1px solid #333;
  border-radius: 5px;
}

a {
  color: #333;
  line-height: 1.5rem;
  text-decoration: none;
}

a.hover {
  color: #666;
}
